.content img
    width:250px;

.home .hero .action-button
    background-color: rgba(255, 119, 0, 0.8);
    border-bottom: 1px solid rgba(255, 119, 0, 0.8);

.home .hero .action-button:hover
    background-color: rgba(255, 119, 0, 0.7);
    
    .noun 
        display: block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: default;
opacity: 1;
margin: 6px;
padding: 7px;
overflow: visible;
border: none;
-webkit-border-radius: 10px;
border-radius: 10px;
font: normal 76px/1 "Aclonica", Helvetica, sans-serif;
color: #282828;
text-align: center;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
background: #3498db;
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: none;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
